body {
    height: 100vh;
    background-image: url(./assets/images/background/dark-storm-clouds.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 7.5%;
    background-color: darkgrey;
    color: seashell;
}

aside, main, div.five-day {
    background-color: oldlace;
}

aside {
    width: 28.5%;
}

.search-ul {
    text-transform: capitalize;
}

img.search-image {
    max-height: 100%;
    max-width: 100%;
}

.weather-display, .five-day {
    width: 68.5%;
}

.table-wrapper .column {
    display: table-cell;
}

.list-group-item {
    font-family: 'Abril Fatface', cursive;
    text-decoration: italic;
}

div#day-1, div#day-2, div#day-3, div#day-4, div#day-5 {
    height: 250px;
    width: 175px;
    background-color: blue;
    color: whitesmoke;
    margin: 15px;
    border-radius: 25px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif
}

#current-city {
    font-weight: 725px;
    text-decoration: underline;
    text-align: center;
}

#current-cond {
    display: inline-block;
    padding-right: 45px;
}

/* .uvLow {
    background-color: greenyellow;
}

.uvHigh {
    background-color: yellow;
}

.uvVeryHigh {
    background-color: darkorange;
}

.uvExtremelyHigh {
    background-color: red;
} */

.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: .65;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    margin-right: 5px;
}

.fa-github {
    background: #2c4762;
    color: white;
    margin-left: 5px;
}

#copyright {
    text-align: center;
    color: wheat;
}

#social-media-header {
    color: wheat;
}

#social-media {
    text-align: center;
}

h2.current-city {
    text-align: center;
}

#e_mail {
    color: wheat;
    text-align: center
}

